BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 0          # no refluye comentarios/líneas largas
AlignConsecutiveAssignments: false
SortIncludes: false      # no reordena includes
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Attach
