# =======================================
# STM32CubeIDE / Eclipse
# =======================================
.metadata/
.settings/
.vscode/
.idea/
.project
.cproject
.loadpath
*.launch
*.ioc
*.mxproject

# =======================================
# Build outputs
# =======================================
Debug/
Release/
build/
out/
*.elf
*.hex
*.bin
*.map
*.o
*.d
*.list
*.srec

# =======================================
# Archivos autogenerados (opcional excluir)
# =======================================
# Drivers/
# Middlewares/
# Core/Startup/

# =======================================
# OS / Editor
# =======================================
*.swp
*.swo
*.DS_Store
Thumbs.db

# =======================================
# Logs / Backups
# =======================================
*.log
*.bak
*.tmp
