# Carpetas generadas por el IDE
.settings/
Debug/
Release/
.vscode/
.idea/

# Archivos de configuración del workspace
*.launch
*.ioc
*.mxproject
.project
.cproject

# Archivos compilados
*.o
*.d
*.elf
*.map
*.out
*.bin
*.hex

# Archivos temporales del sistema
.DS_Store
Thumbs.db
